.h1{
    font-family: "Times New Roman Serif";
}
.h2{
    font-family: "Times New Roman Serif";
}
.h3{
    font-family: "Times New Roman Serif";
}
.p{
    font-family: "Times New Roman Serif";
    font-size: 16px;
}
